.searchInput {
    width: 100%;
    padding: 5px 10px;
    border: none;
    background: white;
    border: 2px solid;
    border-radius: 20px;
    border-color: #ff4609;
    color: black;
}

.searchInput::placeholder {
    color: rgba(21, 21, 21, 0.655);
}

.searchInput:focus {
    outline: none;
}

.inputContainer {
    width: 100%;
    padding-bottom: 1px;
}