header .logo {
  font-weight: bold;
  padding: var(--spacing-1) 0;
  border: 2px solid;
  border-color: #ff4609;
  border-radius: 20px;
  padding: 1px 10px
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff4609;
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  height: 64px;
  padding: 0 var(--spacing-5);
}

header span {
  color: var(--color-text-header);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}

.settings {
  justify-content:center;
}

.settingsDiv{
  justify-content: right;
}

.settingsLogo {
  max-width: 25px;
  max-height: 25px;
}