.postPanel {
    height: calc(100vh - 90px);
    width: calc(100% - 330px);
    overflow: auto;
}

@media only screen and (max-width: 500px) {
    .postPanel {
        height: auto;
        width: auto;
        overflow: auto;
    }
  }